/* Estilo global para o corpo da página */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo de link quando hover */
a:hover {
    color: #2074a0;
}

/* Estilo para contêiner de caixas */
.boxes {
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

/* Estilo para caixas individuais */
.box {
    background-color: cadetblue;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
}

/* Estilo específico para a primeira caixa */
#box1 {
    margin-right: 20px; /* Reduzi a margem direita para 20px */
}

/* Estilo para contêiner do título da tabela */
#titulo_tabela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo para toda a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para as células de cabeçalho da tabela */
th {
    background-color: #f8f8f8;
    font-weight: bold;
    color: #333;
    border: 1px solid #e1e1e1;
    padding: 12px;
    text-align: left;
}

/* Estilo para as células de dados da tabela */
td {
    padding: 12px;
    border: 1px solid #e1e1e1;
}

/* Estilo para linhas ímpares da tabela */
tr:nth-child(odd) {
    background-color: #b1a6a6;
}
